/* all of this below can be adjusted as needed; it is just here rn for the basic front end of the signup/login stuff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', cursive;
  line-height: 1.7;
  background: #eee;
  color: #333
}

h1 {
  font-family: 'Amatic SC', cursive;
}


.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 3rem;
  border: #fff;
  background-color: rgb(134, 2, 134);
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
}

.btn:hover {
  opacity: 0.8;
  color: white;
  background-color: coral
}

.btn-primary {
  background-color: rgb(134, 2, 134);
  color: #fff;
  
  width: 90%;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.mb-3 {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}

.mb-4 {
  font-size: 45px;
  font-family: 'Amatic SC', cursive;
}

.card-body {
font-family: "sans-serif";
font-size: 15px;
padding: 0 16px 16px
}

.card-title{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.card-text {
    font-family: sans-serif;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-bottom: 5px;
}

.list-group-item {
    font-family: sans-serif;
    font-size: 15px;
}

.add-cart {
    font-size: '15px';
}

.add-cart-button {
    background-color: #028602;
    padding: 4px 10px;
    /* margin-right: 10px; */
    color: white;
}

.add-cart-button:hover {
  opacity: 0.7;
}

.add-cart-button a {
  color: white;
}

.more-details-button {
    background-color: #2f729e;
    padding: 4px 10px;
    /* margin-left: 10px; */
    font-size: 15px;
    color: white;
}

.more-details-button a {
  color: white;
}

.more-details-button:hover {
  opacity: 0.7;
}

.card-img-top {
height: 250px
}

.all-fruits-page{
  background-image: url('./components/img/fruitsBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list-group-item{
  font-size: 20px;
}

.all-vegetables-page{
  background-image: url('./components/img/vegetables2.jpg');
  background-size: contain;
}

.all-flowers-page{
  background-image: url('./components/img/flowers3.jpg');
  background-size: contain;
}



















