/* can change any/all of this CSS...just placeholder stuff */


.register-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .register-screen__form {
    width: 380px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  .register-screen__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .register-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.5rem 0;
  }

  body {
    background-image: url("https://images.unsplash.com/photo-1560512154-fa1f9d3a810a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1534&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .guestlogin {
    background-color: white;
    padding: 30px
  }

  .guestloginlink {
    color: #860286;
  }

  .guestloginlink:hover {
    opacity: 0.8;
    color: coral;
  }

  .regbutton {
    margin-right: 40px;
      padding: 20px 20px;
      padding-bottom: 40px;
      cursor: pointer;
      width: 90%;
      font-size: 2rem;
      border: #fff;
      background-color: rgb(134, 2, 134);
      color: white;
      font-family: 'Oswald', sans-serif; 
      font-style: italic;
    }
    
  .regbutton:hover {
    opacity: 0.8;
    color: white;
    background-color: coral
  }
  

  