.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.product_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 80px;
  color: black;
}

#box-admin {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px;
  background-color: white;
  text-align: -webkit-center;
}

.card_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid rgb(204, 203, 203);
  background-color: rgba(0, 0, 0, 0.28)
}

.card {
  margin: 10px;
  border: 5px solid rgb(255, 255, 255);
  align-items: center;
}


.card:hover {
  border: 5px solid black;
}

.best-book-h1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

}
  
.square {
  position: center;
  height: 200px;
  overflow: hidden;
}

.productimg {
  height: 100%;
  display: flex
}

.img {
  position: center;
  size: fill;
  top: 100%;
  height: 100%;
  
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapse_btn_title {
  margin: 10px;
}

#inputsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  background: #fff;
  box-shadow: 5px 10px ;
}

#storenametextbox {
  margin: 10px;
  font-size: 15px;
  padding-top: 25px;
  
}

#btnsubmit {
  margin: 20px;
  font-family:'Oswald', sans-serif;
  font-style: italic;
  font-size: 15px;
  
  background-color: rgb(134, 2, 134);
}

.clearfix {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.product-description {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.itemsTitle {
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
}

.stripeButton {
  background-color: rgb(134, 2, 134);
  padding: 4px 10px;
  /* margin-right: 10px; */
  color: white;
}

.stripeButton:hover {
  opacity: 0.7;
  color: white
}

.stripeButton a {
  color: white;
}

.detailsbuttondiv {
  flex-wrap: wrap;
  max-width: 800px;
}

.detailsbutton {
  display: flex;
  flex-direction: wrap;
  /* min-width: 160px; */
  justify-content: center;
}

@media only screen and (max-width: 970px) {
  .detailsbutton {
    height: 80px;
    min-width: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px
  }
}

.dropdown-backdrop {
    position: static;
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}