.card-body {
font-family: "sans-serif";
font-size: "15px"
}

.card-title{
    font-family: sans-serif;
}

.card-text {
    font-family: sans-serif;
}

.list-group-item {
    font-family: sans-serif;
    font-size: "15px";
}

.add-cart {
    font-size: '15px';
}

.card-link-cart {
    background-color: 'limegreen';
    padding: '8px';
    margin-right: '10px';
}

.card-link-details {
    background-color: '#f89494';
    padding: '8px';
    margin-left: '10px';
    font-size: '15px';
}